/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  /* position:relative; */
}

@font-face {
  font-family: "Mynerve";
  src: url("assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.logo {
  background: red;
  width: 3rem;
  height: 3.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  border: 1px black solid;
  padding: 0rem 3rem 0rem 3rem;
  color: white;
}
.button {
  border-radius: 90rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-weight: bolde;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  border: none;
  height: 3rem;
  padding: 00rem 2rem 00rem 2rem;
  width: max-content;
}
.purple {
  background: #43273e;
}
.orange {
  background: #fe5960;
}
button:hover {
  background: #b669a8;
}
.orange:hover {
  background: #ff000b;
}
.container {
  margin: 3rem 8rem 0 8rem;
}
ul {
  list-style: none;
}
.light {
  font-weight: 200;
}
