<section class="hero purple container">
  <div class="left">
    <h1>Promote Your business <span>everywhere</span></h1>
  <div>
    <button class="button orange">Get Started</button> <span>How it Works</span>
  </div>
  <div>
    <span>All channels</span> <span>Local currency</span>
    <span>Unlimited Ad Spend</span>
  </div>
</div>
<div class="right">
  <img width="80" class="img img1" [src]="imageSrc1" [alt]="imageAlt" />
  <img width="80" class="img img2" [src]="imageSrc2" [alt]="imageAlt" />
  <img width="80" class="img img3" [src]="imageSrc3" [alt]="imageAlt" />
</div>
</section>
