<div class="clip"></div>
<section class="hero purple container">
  <div class="left">
    <h1 class="leftTitle">
      Promote Your business <span class="break-point">everywhere</span>
    </h1>
    <div class="flex">
      <button class="button orange">Get Started</button>
      <span class="under">How it Works</span>
    </div>
    <div class="flex">
      <span>All channels</span> <span>Local currency</span>
      <span>Unlimited Ad Spend</span>
    </div>
  </div>
  <div class="right">
    <img width="80" class="img img1" [src]="imageSrc1" [alt]="imageAlt" />
    <img width="80" class="img img2" [src]="imageSrc2" [alt]="imageAlt" />
    <img width="80" class="img img3" [src]="imageSrc3" [alt]="imageAlt" />
  </div>
</section>

<section class="card container z">
  <div class="rightsection"></div>
  <div class="leftsection">
    <div class="text left">
      <h3 class="title">Largest media partners, for a Large volume.</h3>
      <p>
        Largest media partners, for a Large volume.Largest media partners, for a
        Large volume.Largest media partners, for a Large volume.Largest media
        partners, for a Large volume.
      </p>
      <button class="button orange">Try for free</button>
    </div>
  </div>
</section>


<section class="info">
  <div class="work">
    <div class="leftList">
      <div class="card1">
        <p>
          Handling marketing Handling marketingHandling marketingHandling
          marketingHandling marketingHandling marketing
        </p>
        <button class="button orange">Get Started</button>
      </div>
      <div class="cardinfo">
        <img width="80" class="img img4" [src]="imageSrc4" [alt]="imageAlt" />
        <div class="word">
          <span class="gra">Without</span> <span class="logo orange">Logo</span>
        </div>
        <ul>
          <li>test</li>
          <li>test</li>
          <li>test</li>
          <li>test</li>
        </ul>
      </div>
    </div>
    <div class="rightList">
      <div class="cardinfo">
        <div class="cardicon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            fill="#000000"
            width="30px"
            height="30px"
            viewBox="0 0 73 73"
          >
            <g>
              <path
                d="M66.368,24.256h-51.52c-3.808,0-6.943,3.137-6.943,6.944v32.702c0,3.81,3.136,6.944,6.943,6.944h51.52     c3.808,0,6.943-3.137,6.943-6.944V31.202C73.313,27.392,70.176,24.256,66.368,24.256z M68.609,63.905     c0,1.345-1.119,2.239-2.239,2.239H14.85c-1.344,0-2.239-1.119-2.239-2.24v-8.286h56.223v8.286L68.609,63.905L68.609,63.905z      M68.609,39.489h-56v-8.287c0-1.345,1.12-2.24,2.239-2.24h51.52c1.345,0,2.239,1.12,2.239,2.24L68.609,39.489L68.609,39.489z"
              />
            </g>
          </svg>
        </div>
        <h3 class="gra">Payement</h3>
        <p>
          Largest media partners, for a Large volume.Largest media partners, for
          a Large volume.Largest media partners, for a Large volume.Largest
          media partners, for a Large volume.
        </p>
      </div>
      <div class="cardinfo">
        <div class="cardicon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            fill="#000000"
            width="30px"
            height="30px"
            viewBox="0 0 73 73"
          >
            <g>
              <path
                d="M66.368,24.256h-51.52c-3.808,0-6.943,3.137-6.943,6.944v32.702c0,3.81,3.136,6.944,6.943,6.944h51.52     c3.808,0,6.943-3.137,6.943-6.944V31.202C73.313,27.392,70.176,24.256,66.368,24.256z M68.609,63.905     c0,1.345-1.119,2.239-2.239,2.239H14.85c-1.344,0-2.239-1.119-2.239-2.24v-8.286h56.223v8.286L68.609,63.905L68.609,63.905z      M68.609,39.489h-56v-8.287c0-1.345,1.12-2.24,2.239-2.24h51.52c1.345,0,2.239,1.12,2.239,2.24L68.609,39.489L68.609,39.489z"
              />
            </g>
          </svg>
        </div>
        <h3 class="gra">Channels</h3>
        <p>
          Largest media partners, for a Large volume.Largest media partners, for
          a Large volume.Largest media partners, for a Large volume.Largest
          media partners, for a Large volume.
        </p>
      </div>
      <div class="cardinfo">
        <div class="cardicon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            fill="#000000"
            width="30px"
            height="30px"
            viewBox="0 0 73 73"
          >
            <g>
              <path
                d="M66.368,24.256h-51.52c-3.808,0-6.943,3.137-6.943,6.944v32.702c0,3.81,3.136,6.944,6.943,6.944h51.52     c3.808,0,6.943-3.137,6.943-6.944V31.202C73.313,27.392,70.176,24.256,66.368,24.256z M68.609,63.905     c0,1.345-1.119,2.239-2.239,2.239H14.85c-1.344,0-2.239-1.119-2.239-2.24v-8.286h56.223v8.286L68.609,63.905L68.609,63.905z      M68.609,39.489h-56v-8.287c0-1.345,1.12-2.24,2.239-2.24h51.52c1.345,0,2.239,1.12,2.239,2.24L68.609,39.489L68.609,39.489z"
              />
            </g>
          </svg>
        </div>
        <h3 class="gra">Support</h3>
        <p>
          Largest media partners, for a Large volume.Largest media partners, for
          a Large volume.Largest media partners, for a Large volume.Largest
          media partners, for a Large volume.
        </p>
      </div>
    </div>
  </div>
  <div class="cardsocialmedia">
    <div class="socialmedia container">
      <img width="170" class="" [src]="imageSrc14" [alt]="imageAlt" />
      <img width="170" class="" [src]="imageSrc16" [alt]="imageAlt" />
      <img width="170" class="" [src]="imageSrc17" [alt]="imageAlt" />
      <img width="170" class="" [src]="imageSrc18" [alt]="imageAlt" />
      <img width="170" class="" [src]="imageSrc19" [alt]="imageAlt" />
    </div>
  </div>
</section>

<section class="create">
  <img width="170" class="" [src]="imageSrc10" [alt]="imageAlt" />

  <h3>the eassiet way to online campaigns</h3>
  <p>
    the eassiet way to online campaigns the eassiet way to online campaigns the
    eassiet way to online campaigns the eassiet way to online campaigns the
    eassiet way to online campaigns
  </p>
  <button class="button orange">Create Capaign</button>
</section>

<section class="service container">
  <div class="card">
    <div class="textside text">
      <div class="flex">
        <h3 class="title">Stability + Growth =</h3>
        <span class="logo orange">Logo</span>
      </div>
      <p>
        Largest media partners, for a Large volume.Largest media partners, for a
        Large volume.Largest media partners, for a Large volume.Largest media
        partners, for a Large volume.
      </p>
      <button class="button orange">Try For Free</button>
    </div>
    <div class="imgsidegirl"></div>
  </div>
  <div class="card ">
    <div class="imgsideboy"></div>
    <div class="textside">
      <div class="flex">
        <h3 class="title">Drive growth at your business with</h3>
        <span class="logo orange">Logo</span>
      </div>
      <p>
        Largest media partners, for a Large volume.Largest media partners, for a
        Large volume.Largest media partners, for a Large volume.Largest media
        partners, for a Large volume.
      </p>
      <button class="button orange">Try For Free</button>
    </div>
  </div>
</section>
