.hero {
  color: white;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
}
.left{
  /* padding: 12rem; */
  padding: 4rem;
  height: 23rem;
  display: flex;
  flex-direction: column;
  justify-content: center
}
.right {
  position: absolute;
  right:0;
  width: 50%;
}
.img {
  position: absolute;
}
.img1 {
  z-index: 10;
  top: -16px;
  width : 35rem;
}
.img2 {
  z-index: 11;
  
  top: 20rem;
  left: -3rem;
  width: 22rem;
}
.img3 {
  top: -2px;
  width : 35rem;
  z-index: 2;
}
